<script type="module">
  import mermaid from 'https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.12.0/mermaid.esm.min.mjs';
  
  mermaid.initialize({
    startOnLoad: false,
    theme: 'base',
    themeVariables: {
      darkMode: false,
      background: "#fcfcfc",
      fontFamily: "\"Roboto\", sans-serif",
      
      lineColor: "#14133d",
      textColor: "#1f1f1f",
      noteBkgColor: "#fffb9f",
      noteTextColor: "#1f1f1f",
      
      primaryColor: "#f7f5f3",
      primaryTextColor: "#1f1f1f",
      primaryBorderColor: "#14133d",
      
      secondaryColor: "#fcfcfc",
      secondaryBorderColor: "#ee4e47",
      secondaryTextColor: "#1f1f1f",
      
      tertiaryColor: "#14133d1a",
      tertiaryBorderColor: "#14133d",
      tertiaryTextColor: "#1f1f1f",
      
      // Flowchart Variables
      clusterBkg: "#14133d1a",
      clusterBorder: "#14133d",
      edgeLabelBackground: "#fffb9f",
      
      // Sequence Diagram Variables
      actorLineColor: "#14133d80",
      activationBkgColor: "#14133d33",
      activationBorderColor: "#14133d",
      labelBoxBkgColor: "#f7f5f3",
      labelBoxBorderColor: "#14133d",
      
      // Pie Chart Variables
      pie1: "#14133d",
      pie2: "#ee4e47",
      pie3: "#fffb9f",
      pie4: "#14133dcc",
      pie5: "#ee4e47cc",
      pie6: "#fffb9fcc",
      pie7: "#14133d80",
      pie8: "#ee4e4780",
      pie9: "#fffb9f80",
      pie10: "#14133d33",
      pie11: "#ee4e4733",
      pie12: "#fffb9f33",
      pieStrokeColor: "#14133d",
      pieStrokeWidth: "1px",
      pieOuterStrokeColor: "#14133d",
      pieOuterStrokeWidth: "1px",
      pieOpacity: 0.7
    }
  });
  
  await mermaid.run({
    querySelector: '.language-mermaid'
  });
</script>