---
layout: main
---
<article class="card">
<header class="card__header">
<h1>
{{ page.title }}
</h1>
</header>

<div class="card__body" markdown="1">
{{ content }}
</div>
</article>

<article class="card">
<header class="card__header" markdown="1">
## Want to get notified when the next newsletter drops?
</header>
<div class="card__body" markdown="1">
Subscribe to receive these newsletters in your inbox. Advice, insights, and tricks delivered the same way I’d share them on call with my clients.
</div>
<div class="card__body">
{% include subscribe-form-disclosure.html panel_id="newsletter-subscribe-form-post" form_target="hs-newsletter-form-post" %}
</div>
</article>
